.packing-slip {
    width: 4in;
    height: 6in;
    border: 1px solid black;
    background-color: white;
    color: black;
}

.header {
    height: 2.0in;
    margin: 0.1in;
    font-size: 11px;
    display: grid;
    grid-template-columns: repeat(7, minmax(0,1fr));
    border-bottom: 3px solid black;
}

.header h1 {
    font-size: 16px;
    font-weight: bold;
}

.header h2 {
    font-size: 12px;
    padding: 0px;
}

.company-name {
    grid-column: 1 / span 3;
}

.company-logo {
    grid-row-start: 1;
    grid-column-start: 5;
}
.company-logo img {
    width: 120px;
    height: 120px;
}
.ship-label {
    font-weight: bold;
    grid-column: 1 / span 1;
    grid-row-start: 2;
}
.ship-content {
    grid-column: 2 / span 3;
    grid-row-start: 2;
}
.order-label {
    font-weight: bold;
    grid-column: 5 / span 1;
    grid-row-start: 2;
}
.order-content {
    grid-column: 6 / span 1;
    grid-row-start: 2;
}

.body {
    height: 2.6in;
    margin: 0.1in;
}

.gift-message h1 {
    padding-top: 40px;
    font-size: 12px;
    font-weight: bold;
}

.gift-message p {
    font-size: 12px;
}

ul {
  margin: 5px;
  padding: 0;
  border: 1px dashed black;
  list-style-type: none;
}

li {
  padding: 5px;
  margin: auto;
}
li:not(:last-child) {
  border-bottom: 1px dashed black;
}
