#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --primary: #1f883d;
  --secondary: #6d3770;
  --warning: #c38d3d;
  --alert: #bc2d29;
  --darkest: #202321;
  --lightest: #eeeff6;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  padding: 2px 2px;
  background-color: rgba(255,255,255,0.15);
}

nav .menu_button {
  background-color: rgba(255,255,255,0.15);
  border: 1px solid rgba(0,0,0,0.70);
  padding: 6px 16px;
  margin: 2px;
}

nav .depricate_menu_spacer {
  background-color: rgba(255,255,255,0.15);
  border: 1px solid rgba(0,0,0,0.70);
  padding: 4.5px 100px;
  margin-block: 2px;
  margin-inline: auto;
  display: inline;
}

.depricate_MuiPopper-root {
  background: rgba(0,0,0,0.90);
  border: 1px solid white;
  padding: 4px;
  margin: 20px 40px;
  min-width: 200px;
  border-radius: 0 0 4px 4px;
  overflow: auto;
  outline: 0px;
  z-index: 1;
}

.btn {
  background-color: rgba(255,255,255,0.15);
  border: 1.5px solid rgba(0,0,0,0);
  border-radius: 8px;
  padding: 16px 32px;
  margin: 4px;
  min-width: 120px;
}

.bold {
  font-weight: bold;
}

.btn:hover {
  border: 1.5px solid var(--lightest);
  opacity: 0.8;
}

.primary_button {
  background-color: var(--primary);
}

.secondary_button {
  background-color: var(--secondary);
}

.warning_button {
  background-color: var(--warning);
}

.alert_button {
  background-color: var(--alert);
}

.form_divider {
  margin-top: 8px;
}

.flex-tab-panel {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1644px) {
  .flex-tab-panel {
    flex-direction: column;
  }
  .card {
    margin-block-end: 16px;
  }
}

.card {
  margin-inline-end: 16px;
  height: min-content;
}

.list_box {
  list-style-type: none;
}